.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.button{
  border: 1px solid transparent;
  border-radius: 0.25rem;
  color: #212529;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  padding: 0.375rem 0.75rem;
  text-align: center;
  text-decoration: none;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: middle;
}
.purple{
  border: 2px solid #be1fda;
  border-radius: 8px;
  color: #fff;
  font-size: .8rem;
  padding: 10px 20px;
  text-transform: uppercase;
  background-color: transparent;
}

.purple:hover:enabled{
  color: black;
  background-color: purple;
}
.purple:disabled{
  background-color: -internal-light-dark(rgba(239, 239, 239, 0.3), rgba(19, 1, 1, 0.3));
  color: -internal-light-dark(rgba(16, 16, 16, 0.3), rgba(255, 255, 255, 0.3));
  border-color: -internal-light-dark(rgba(118, 118, 118, 0.3), rgba(195, 195, 195, 0.3));
}

.player__container{
  background-image: linear-gradient(-45deg, rgb(105, 2, 255), rgb(22, 29, 46), rgb(105, 2, 255), rgb(22, 29, 46));
}

.super_rare{
  box-shadow: 0px 0px 5px 0px red,
  0px 0px 5px 0px yellow,
  0px 0px 5px 0px pink,
  0px 0px 10px 0px cyan,
  0px 0px 20px 0px greenyellow;
  animation: glow 5s linear infinite;
}

@keyframes glow{
  0%{
    filter: hue-rotate(0deg);
  }
  100%{
    filter: hue-rotate(360deg);
  }
}

.app_header{
  height: 45px;
  background-color: #fccd35;
  z-index: 10;
  display: flex;
  flex: 0 1 0%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-image: none;
  background-size: cover;
  background-position: center center;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
.app_header a{
  color: #2b2b2b;
  height: 100%;
  flex: 1 1 0%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 600;
  padding: 16px;
  background-color: #fccd35;
  z-index: 10;
  text-decoration: none; 
  box-sizing: border-box;
  cursor: pointer;
  font-family: sans-serif;
}

.app_userinfo{
  display: flex;
    flex: 0 1 0%;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    background-image: none;
    background-size: cover;
    background-position: center center;
    height: 45px;
    border: 3px solid #be1fda;
    background-color: #2b2b2b;
    padding-left: 24px;
    padding-right: 24px;
    color: white;
    font-family: sans-serif;
  }

  .app_footer{
    display: flex;
    flex: 0 1 0%;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    background-image: none;
    background-size: cover;
    background-position: center center;
    height: 30px;
    background-color: #2b2b2b;
    padding-left: 24px;
    padding-right: 24px;
    position: fixed;
    bottom: 0px;
    color: white;
  }

  .app_screen{
    background-color: #1c1e24;
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
  }

  .app_tabs{
    border-bottom: 1px solid var(--light-grey);
    margin: 0 0 10px;
    padding: 0;
    width: "100%";
    -webkit-flex: 1 1;
    flex: 1 1;
    display: flex;
    list-style: none;
    box-sizing: border-box;
  }

  .app_tabs li{
    color: white;
    display: inline-block;
    border: 1px solid transparent;
    border-bottom: none;
    bottom: -1px;
    position: relative;
    list-style: none;
    padding: 6px 12px;
    cursor: pointer;
    border-radius: 5px 5px 0 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    flex: 1 1;
    text-align: center;
    border: 1px solid black;
    margin: 10px;
  }

  .selectedTab{
    background: #be1fda;
  }

  .app_connect{
    display: flex;
    flex: 0 1 0%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    background-image: none;
    background-size: cover;
    background-position: center center;
  }
  .app_connect button{
    height: 50px;
    width: 150px;
    border-radius: 5px;
    margin: 4px;
    background:rgb(105, 2, 255);
    color: white;
  }

  .app_nameinput{
    border: none;
    appearance: none;
    background: #f2f2f2;
    padding: 12px;
    border-radius: 3px;
    width: 250px;
    outline: none;
  }

  .mint{
    width: 250px;
    margin-bottom: 10px;
  }
  .app_minting_text{
    margin-top: 5px;
  }